.MuiAppBar-positionFixed {
  height: 80px;
  padding: 0px;
  margin: 0px;
}

.containerSize {
  padding-top: 80px;
 
}

.imageSizing {
  padding-left: 32px;
  max-width: 40px;
  max-height: 40px;
  padding-top: 20px;
}



